  .cardWrapper{
    display: flex;
    height: 300px;
    background-color: white;
  }

  .card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .card > img{

    border-radius: 8px;
    width: 300px;
    height: 200px;
  }

  .cardText{
    display: flex;
  }