  .cardWrapper{
    height: auto;
    background-color: white;
    float: none;
    width: auto;
    max-width: none;
    
  }

  .card{
    background-color: whitesmoke;
  }
  .card > img{
    max-width: 100%;
    border-radius: 8px;
    width: 300px;
    height: 200px;
  }

  .cardText{
    display: flex;
  }

  .corner{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    align-items: center;
    position: relative;
  }

  .info{
    display: flex;
  }

  .reaction{
    justify-content: right;
  }

  .basicButton{
    background-color: gray;
  }