.headerFlexbox{
    display: flex;
    background-color: teal;
    align-items: center;
    width: 100%;
    height: 20vh;
    
}
.innerHeader{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    flex-grow: 1;
}

.flexItemNav{
    display: flex;
    padding-right: 20px;

}