.header{
    position: static;
    height: 80px;
    will-change: initial;
}

.logo{
    height: 80px;
    width: 76px;
}

.navSpanRight{
    display: flex;
}

.navSpanLeft{
    display: flex;
}

.headerFlexbox{
    display: flex;
    padding: 0 30px;
    
}
.innerHeader{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.flexItemNav{
    display: flex;
    padding-right: 20px;
    align-items: center;
}