.header{
    position: static;
    height: 80px;
    will-change: initial;
    display: flex;
}

.logo{
    height: 80px;
    width: 76px;
}

.navSpan{
    display: flex;
}

.navSpanLeft{
    display: flex;
}

.headerFlexbox{
    display: flex;
    padding: 0 30px;
    align-items: center;
    
}
.innerHeader{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.flexItemNav{
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.flexItemNavRight{
    display: flex;
    justify-content: right;
}

.signUpButton{
    display: flex;
    background: pink;
    justify-content: center;
}