.wrapper{
    display: flex;
    position: relative;
    flex: 1 0 auto;
    justify-content: center;
    background: whitesmoke;
}

.background{
    display: flex;
    flex-grow: 1;
}
.largeContainter{
    display: flex;
    height: 480px;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 72px;
    flex-grow: 1;
}

.introImg{
    display: flex;
    width: 510px;
    height: 360px;
}

.introText{
    display: flex;
    max-width: 624px;
    flex-direction: column;
}

.credit{
    margin-top: 20px;
}

.signUpButton{
    background-color: pink;
}
