.container{
 padding-top: 32px;
 position: relative;
 padding-right: 72px;
 padding-left: 72px;
}

.subNavFlex{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.filter{
    margin-right: 40px;
    margin-left: 72px;
}

.filterCatagories{
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    display: flex;
    flex-grow: 1;
    
}

.bars{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-right: 72px;
}

.subNavContainer{
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
}

.mobileFilter{
    display: none;
}

.btn-dropdown{
    margin-left: 55px;
    margin-right: 55px;
    }

.filterBtn{
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 8px;
    width: 75px;
    height: 40px;
    color: black;
}

.popularBtn{
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 8px;
    width: 75px;
    height: 40px;
    color: black;
}


@media only screen and (max-width: 750px) {
    .btn-dropdown{
    display: none;
    }
    .mobileFilter{
        display: flex;
        justify-content: space-between;
    }

    .subNavContainer{
        flex-direction: column;
    }

    .btn-mobile{
        margin-left: 55px;
        margin-right: 25px;
    }
}